<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->


    <bean id="rectangle" class="org.cg.apps.coupling.Rectangle">
        <property name="length" value="10"/>
        <property name="breadth" value="7"/>

    </bean>

    <bean id="square" class="org.cg.apps.coupling.Square">
        <property name="side" value="10"/>

    </bean>


 <bean id="canvas" class="org.cg.apps.coupling.Canvas">
     <property name="shape" ref="rectangle" />
 </bean>



</beans>